body {
  background: #f2f2f2;
  font-size: 14px;
  color: #222222;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.request-container {
  background: #ffffff;
  border-radius: 8px;
  width: 60%;
}

.request-container > .request-header {
  border-bottom: 1px solid #2222220d;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.request-header > .header-title {
  margin-left: 4px;
}

.request-container > .request-body {
  display: flex;
}
.request-data {
  flex: 60%;
  border-right: 1px solid rgba(34, 34, 34, 0.05);
}

.request-data > .request-table {
  box-shadow: 0px 2px 4px rgba(34, 34, 34, 0.05);
  border: 1px solid rgba(34, 34, 34, 0.05);
  border-radius: 8px;
  margin: 16px;
}
.table-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
  padding: 8px;
}
.table-row > .row-header {
  flex: 30%;
  font-size: 14px;
  line-height: 16px;
  color: rgba(34, 34, 34);
  opacity: 0.5;
}
.table-row > .row-description {
  flex: 70%;
  font-size: 14px;
  line-height: 16px;
  margin-left: 4px;
}

.approve-btn {
  background: #26c281;
  border: 1px solid rgba(34, 34, 34, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 8px 16px;
  margin-left: 16px;
}

.deny-btn {
  background: #ff6448;
  border: 1px solid rgba(34, 34, 34, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 8px 16px;
  margin: 8px;
}

/* approvers list */

.approver-container {
  padding: 16px;
  flex: 40%;
}
.approvers {
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.details {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.approver-detail {
  margin-left: 8px;
}

.approver-box {
  display: flex;
  align-items: center;
  flex: 70%;
}

.icon-check {
  color: rgba(38, 194, 129, 1);
  font-size: 20px;
}

.icon-circle {
  font-size: 16px;
  color: #222222;
  opacity: 0.05;
  margin-right: 8px;
}

.inner-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border: 1px solid rgba(34, 34, 34, 0.1);
  background-color: rgba(0, 0, 0, 0);
}

.light-text {
  font-size: 12px;
  color: rgba(34, 34, 34);
  opacity: 0.5;
  line-height: 14px;
}

.bb {
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
}
